.bgimg{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("pic/img-1.jpg");
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	height: 660px;
	background-attachment: fixed;
	/*overflow-x: hidden;*/

}
.headerset{
	margin-top: 250px;
	box-sizing: border-box;
}
.ourservices{
	margin-top: 100px;
	margin-bottom: 60px;
	height: 700px;
}
.fa-tv{
	margin-top: 15px;
}
.rowsetting
{
	margin-top: 80px;
}
.imgsetting{
	border-radius: 50%;
	height: 80px;
	width: 80px;
}
.rowsetting h3{
	margin-top: 20px;
	margin-bottom: 15px;
}
.rowsetting p{
	padding: 10px;
}
.ourservices h1{
	text-decoration: underline;
}